@charset 'utf-8';
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;

	--color-w01: #ececec;
	--color-w02: #ffffff;
	--color-b01: #171717;

	scroll-behavior: smooth;
}
*::-webkit-scrollbar {
	display: none;
	color: var(--black);
}
h1 {
	font-size: 40px;
	font-weight: 800;
	color: var(--black);
}
h2 {
	font-size: 30px;
	font-weight: 700;
	color: var(--black);
}
h3 {
	font-size: 24px;
	font-weight: 700;
	color: var(--black);
}
h4 {
	font-size: 12px;
	font-weight: 600;
	color: var(--black);
}
p {
	font-size: 16px;
	font-weight: 500;
	color: var(--black);
}
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: var(--black);
}
ul {
	margin: 5px 0 0 25px;
}
.menu {
	width: 100vw;
	min-height: 100vh;
	display: flex;
    align-items: center;
	overflow: hidden;
    flex-direction: column;
	flex-wrap: wrap;
}
.menu-reg {
	padding: 80px 0 50px 0;
}
.menu-first{
	justify-content: center;
}
.menu-last {
	padding: 80px 0 0 0;
    justify-content: space-between;
}
.back {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
	overflow: hidden;
}
.back-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	filter: blur(2px) contrast(90%);
}
.container {
	z-index: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	width: 288px;
	height: auto;
	text-align: center;
	line-height: 50px;
	margin-bottom: 30px;
}
.bloque {
	width: 288px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bloque-p {
	width: 100%;
	padding: 10px 5px;
}
.bloque-list {
	width: 100%;
	padding: 10px 5px;
	display: grid;
	grid-template-columns: 2fr 8fr;
	align-items: center;
}
.list-icon {
	grid-column: 1 / 2;
}
.margin-content {
	margin-top: 3px;
}
.border-bottom {
	border-bottom: solid 5px var(--color-b01);
}
.list-p {
	grid-column: 2 / 3;
}
.list-header {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	padding-bottom: 15px;
}
.list-detail {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	padding-bottom: 15px;
	padding-right: 0px;
}
.list-tags {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	display: flex;
	flex-flow: wrap row;
	align-content: flex-start;
	padding-bottom: 15px;
}
.tag {
	background-color: var(--color-b01);
	color: var(--color-w02);
	margin: 0px;
	justify-content: flex-start;
	padding: 5px 8px 5px 8px;
	margin: 1px;
	border-radius: 15px;
	font-weight: 300;
	font-size: 10px;
	height: 21px;
}
.back-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--color-b01);
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon-small {
	width: 24px;
	height: 24px;
}
.bloque-grid {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	padding: 0 5px;
	row-gap: 20px;
	column-gap: 26px;
	margin-top: 10px;
}
.icon-reg {
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.icon-med {
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.form {
	width: 100%;
}
.input-text {
	background-color: transparent;
	border: none;
	border-bottom: solid var(--color-b01) 5px;
	width: 100%;
	height: 40px;
	margin: 0 0 20px 0;
	padding: 5px 5px 0 5px;
}
.input-textarea {
	background-color: transparent;
	border: none;
	border-bottom: solid var(--color-b01) 5px;
	width: 100%;
	height: 150px;
	overflow: scroll;
	resize: none;
	margin: 0 0 20px 0;
	padding: 12px 5px 0 5px;
}
.input-submit {
	background-color: var(--color-b01);
	color: var(--color-w02);
	font-size: 16px;
	font-weight: 500;
	padding: 15px 50px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.social-icon {
	margin: 0 10px;
}
.footer {
	background-color: var(--color-b01);
	height: 15vh;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.footer-p {
	color: var(--color-w01);
	margin: 10px 15px;
}
.navbar-top {
	width: 100vw;
	height: 60px;
	display: flex;
	flex-direction: row;
	background-color: var(--color-b01);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
}
.side {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
}
.side-a {
	display: none;
}
.navbar-body {
	width: 100vw;
	height: 100vh;
	top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-b01);
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 2;
}
.navbar-p {
	color: var(--color-w02);
}
.body-a {
	margin-top: 60px;
}
.navbar-body.hidden {
	animation-name: sideOut;
	animation-duration: 0.5s;
	right: -100%;
}
.navbar-body.visible {
	animation-name: sideIn;
	animation-duration: 0.5s;
	right: 0;
}
.--mnuhomecontainer {
	justify-content: center;
}
.--mnuhomebloqueA {
	justify-content: flex-end;
	padding-bottom: 20px;
}
.--mnuhomebloqueB {
	justify-content: flex-start;
	width: 170px;
	border-top: solid 3px var(--color-b01);
	padding-top: 15px;
}
.--mnuhomeLogo {
	width: 150px;
	height: auto;
}
.--menucontactLogo {
	display: none;
}
.--mnuhomeSubbloque {
	text-align: center;
}
.--mnuhomeName {
	line-height: 1em;
}
.--mnuhomeProfile {
	font-size: 19px;
	font-weight: 600;
	color: var(--black);
}
.--menuaboutbloqueA {
	background-color: var(--color-b01);
	height: 400px;
	overflow: hidden;
	position: relative;
}
.--img-profile{
	width: 100%;
	position: absolute;
	bottom: -125px;
}
.--menuaboutbloqueB {
	margin-top: 15px;
}
.--menuaboutPrename {
	padding-bottom: 0;
}
.--menuaboutName {
	padding: 0 5px;
	width: 100%;
	letter-spacing: .7px;
	text-align: center;
	line-height: 1;
}
.--menucontactbloqueA {
	margin: 30px 0;

}
.--menucontactbloqueB {
	flex-direction: row;
	justify-content: center;
}
.--navbarsideA {
	justify-content: flex-start;
	padding-left: 10px;
}
.--navbarsideB {
	justify-content: flex-end;
	padding-right: 10px;
}


#menuabout {
	background-color: var(--color-w01);
}
#menuformexp {
	background-color: var(--color-w02);
}
#menucontact {
	background-color: var(--color-w01);
}
@keyframes sideOut {
	from {
		right: 0;
	}
	to {
		right: -100%;
	}
}
@keyframes sideIn {
	from {
		right: -100%;
	}
	to {
		right: 0;
	}
}
@media only screen and (min-width: 500px) {
	.bloque,
	.title {
		width: 400px;
	}
	.--mnuhomebloqueB {
		width: 170px;
	}
	.--menuaboutbloqueA {
		width: 288px;
	}
	.bloque-list {
		grid-template-columns: 1fr 6fr;
	}
	.bloque-grid {
		row-gap: 20px;
		column-gap: 28px;
	}
	.icon-reg {
		width: 55px;
		height: 55px;
	}
}
@media only screen and (min-width: 700px) {
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 650px;
	}
	.bloque {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		border: none;
		width: 600px;
	}
	.title {
		width: 650px;
	}
	.bloque-list {
		grid-template-columns: 1fr 9fr;
	}
	.list-p {
		margin-left: 15px;
	}
	.icon-reg {
		width: 60px;
		height: 60px;
	}
	.border-bottom {
		border-bottom: solid 5px var(--color-b01);
		margin-bottom: 10px;
	}
	.form {
		width: 400px;
	}
	.--mnuhomebloqueA {
		align-items: flex-end;
		height: 100vh;
		width: 30vw;
	}
	.--mnuhomebloqueB {
		align-items: flex-start;
		height: 100vh;
		width: 30vw;
	}
	.--mnuhomeLogo {
		margin-right: 15px;
	}
	.--mnuhomeSubbloque {
		padding-left: 15px;
		text-align: left;
		border-top: none;
		border-left: solid 3px var(--color-b01);
		width: 200px;
	}
	.--menuaboutbloqueA,
	.--menuaboutbloqueB {
		width: 288px;
		margin: 0;
	}
	.--menuaboutbloqueA {
		margin: 13px 0 56px 0;
	}
	.--menuaboutbloqueB {
		margin-left: 24px;
	}
	.navbar-body,
	.collapse-icon {
		display: none;
		z-index: -1;
	}
	.--navbarsideA {
		width: 10%;
	}
	.--navbarsideB {
		width: 90%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.side-a {
		display: block;
		margin: 0 13px;
	}
}
@media only screen and (min-width: 1000px) {
	.menu-first{
		padding-top: 0px;
	}
	.container,
	.title {
		width: 800px;
	}
	.title {
		text-align: left;
		margin-bottom: 50px;
	}
	.bloque {
		width: 800px;
	}
	.bloque-list {
		grid-template-columns: 1fr 11fr;
	}
	.bloque-grid {
		row-gap: 20px;
		column-gap: 31px;
		margin-top:20px;
	}
	.--mnuhomebloqueA {
		width: 45%;
	}
	.--mnuhomebloqueB {
		width: 55%;
	}
	.--mnuhomeSubbloque {
		width: 100%;
	}
	.--menuaboutbloqueA {
		width: 288px;
		margin: 15px 112px 0px 0;
	}
	.--menuaboutbloqueB {
		margin: 0 0 12px 0;
		width: 400px;
	}
	.--menuaboutbloqueC {
		margin-top: 50px;
		width: 800px;
	}
	.--menucontactbloqueA {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 70px;
	}

	.--menucontactbloqueB {
		margin-top: 70px;
	}
	.--menucontactLogo {
		display: block;
		width: 150px;
		height: auto;
		margin: 50px 125px 185px 0;
	}
	.--navbarsideA {
		padding-left: 2vw;
	}
	.--navbarsideB {
		padding-right: 2vw;
	}
}
