@charset 'utf-8';
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	--black: #303030;
	--medium: #424242;
	--white: #f6f6f6;
	scroll-behavior: smooth;
}
*::-webkit-scrollbar {
	display: none;
	color: var(--black);
}

h1 {
	font-size: 40px;
	font-weight: 700;
}
h2 {
	font-size: 30px;
	font-weight: 700;
}
h3 {
	font-size: 24px;
	font-weight: 700;
}
h4 {
	font-size: 12px;
	font-weight: 600;
}
p {
	font-size: 16px;
	font-weight: 500;
}
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: var(--black);
}
ul {
	margin: 5px 0 0 25px;
}
.App {
	scroll-behavior: smooth;
}

@media only screen and (max-width: 800px) {
	#menuabout {
		width: 100vw;
		min-height: 100vh;
		border-top: solid 5px var(--black);
		background-color: var(--white);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 0;
		overflow: hidden;
	}
	.menuabout__title {
		width: 400px;
		margin-bottom: 50px;
	}
	.menuabout__container {
		width: 400px;
		display: flex;
		flex-direction: column;
	}
	.menuabout__sidea {
		width: 400px;
		height: 475px;
		background-color: var(--black);
	}
	.menuabout__sideb {
		width: 400px;
	}
	.menuabout__myname {
		padding: 15px 0 10px 0;
		border-bottom: solid 5px var(--black);
	}
	.menuabout__p {
		margin: 25px 10px;
	}
	.menuabout__list {
		margin: 20px 15px;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	.menuabout__listicon {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: var(--black);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 15px;
	}
	.menuabout__icon {
		width: 60%;
		height: 60%;
	}
	.menuabout__grid {
		display: flex;
		justify-content: left;
		flex-wrap: wrap;
		padding: 0 5px;
		row-gap: 20px;
		column-gap: 20px;
	}
	.menuabout__griditem {
		width: 60px;
		height: 60px;
	}
}

@media only screen and (min-width: 800px) {
	#menuabout {
		width: 100vw;
		min-height: 100vh;
		border-top: solid 5px var(--black);
		background-color: var(--white);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 0;
		overflow: hidden;
	}
	.menuabout__title {
		width: 800px;
		margin-bottom: 50px;
	}
	.menuabout__container {
		width: 800px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.menuabout__sidea {
		width: 400px;
		height: 475px;
		background-color: var(--black);
		margin-top: 15px;
	}
	.menuabout__sideb {
		width: 395px;
	}
	.menuabout__myname {
		padding: 15px 0 10px 0;
		border-bottom: solid 5px var(--black);
	}
	.menuabout__p {
		margin: 25px 10px;
	}
	.menuabout__list {
		margin: 20px 15px;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	.menuabout__listicon {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: var(--black);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 15px;
	}
	.menuabout__icon {
		width: 60%;
		height: 60%;
	}
	.menuabout__grid {
		display: flex;
		justify-content: left;
		flex-wrap: wrap;
		padding: 0 5px;
		row-gap: 20px;
		column-gap: 20px;
	}
	.menuabout__griditem {
		width: 60px;
		height: 60px;
	}
}

@media only screen and (min-width: 1400px) {
	#menuabout {
		width: 100vw;
		min-height: 100vh;
		border-top: solid 5px var(--black);
		background-color: var(--white);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 0;
		overflow: hidden;
	}
	.menuabout__title {
		width: 1200px;
		margin-bottom: 50px;
	}
	.menuabout__container {
		width: 1000px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.menuabout__sidea {
		width: 400px;
		height: 475px;
		background-color: var(--black);
		margin-top: 15px;
	}
	.menuabout__sideb {
		width: 480px;
	}
	.menuabout__myname {
		padding: 15px 0 10px 0;
		border-bottom: solid 5px var(--black);
		text-align: center;
	}
	.menuabout__p {
		margin: 25px 10px;
	}
	.menuabout__list {
		margin: 20px 15px;
		display: flex;
		justify-content: left;
		align-items: center;
	}
	.menuabout__listicon {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: var(--black);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 15px;
	}
	.menuabout__icon {
		width: 60%;
		height: 60%;
	}
	.menuabout__grid {
		display: flex;
		justify-content: left;
		flex-wrap: wrap;
		padding: 0 5px;
		row-gap: 20px;
		column-gap: 20px;
	}
	.menuabout__griditem {
		width: 60px;
		height: 60px;
	}
}
